body {
    background: $color-white-pure !important;
    height: 100vh !important;
    width: 100vw !important;
    max-width: 100% !important;
    margin: 0 !important;
    min-width: 300px !important;
    font-family: $font-family !important;
    font-size: $font-size !important;
    color: $color-gray-dark;
}