.nav {
    @apply flex flex-row;

    cursor: pointer;

    a {
        text-decoration: none;
        color: $color-gray-dark;
    }

    &-tabs {
        @apply flex-row gap-10 h-full;

        &--mobile {
            @apply flex-col gap-5;
        }
    }    

    &-item {
        @apply flex min-w-[5rem] h-full items-center justify-center;

        &--mobile {
            @apply flex items-center justify-center h-10;
        }
    }

    .active {
        background: $color-primary;
        margin: 0;
        color: $color-white-pure;

        a {
            color: $color-white-pure;
        }
    }
}